body {
    background-color: #0c1121;
    color: #d0d3fc;
    font-size: 18px;
    font-family: 'Roboto', Arial, sans-serif;
}

a {
    color: #b6b936;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #8f2361;
}

.content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

p {
    font-size: 18px;
}

h2 {
    color: #17a589;
    font-size: 24px;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo img {
    border-radius: 8px;
    max-height: 50px;
}

nav {
    text-align: right;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 22px;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-left: 12px;
    margin-right: 12px;
}

nav ul li:last-child {
    margin-right: 30px;
}

.introheading {
	font-size: 40px;
	color: #8f2361;
	font-weight: bold;
}

.introparagraph {
	font-size: 20px;
}

/* About Section */

#about {
    padding: 20px;
}

#about .content {
    max-width: 800px;
    margin: 0 auto;
}

#about .about-content {
    display: flex;
    align-items: center;
}

#about .photo {
    flex: 0 0 auto;
    margin-right: 40px;
}

#about .photo img {
    border-radius: 50%;
    display: block;
    max-width: 100%;
    height: auto;
}

#about .text {
    flex: 1;
}

.services {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* Credentials Section */

#credentials {
    padding: 20px;
}

#credentials .skills {
    display: flex;
    justify-content: space-between;
}

#credentials .technical-skills {
    width: 45%;
}

#credentials .soft-skills {
    width: 45%;
}
#credentials .technical-skills ul li,
#credentials .soft-skills ul li {
    margin-bottom: 10px;
}

#certifications .certifications ul li {
	margin-bottom: 20px;
}

#services .services h3,
#credentials .technical-skills h3,
#credentials .soft-skills h3 {
    color: #8f2361;
}

#certifications .certifications ul li .long-margin {
    margin-left: 340px;
    color: #b6b936;
}

#certifications .certifications ul li .short-margin {
    margin-left: 100px;
    color: #b6b936;
}
